body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  background-color: #f5f5f7;
  margin: 0;
  padding: 40px 20px; 
}

.catalog__title {
  font-size: 40px;
  line-height: 5;
  margin: 0;
  display: flex;
  justify-content: center;
}

.product-catalog__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  min-width: 1110px;
}

.product-card__category {
  font-size: 12px;
  line-height: 24px;
  color: #3a3a46;
  margin-top: 15px;
  margin-bottom: 5px;
}

.product-card__name {
  font-size: 20px;
  line-height: 27px;
  margin-top: 5px;
}

.product-card__price {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 15px;
  display:  inline-block;
 
}

.product-card__price-rub {
  font-size: 20px;
  line-height: 24px;
}

.product-card__box {
  box-sizing: border-box;
  max-width: 340px;
  min-height: 450px;
  padding: 25px;
  background-color: #f0f0f4;
  border-radius: 8px;  
  border: 1px solid #e2e2e7;
  box-shadow: 0 4px 12px rgba(81, 80, 118, 0.04);
}

.compound__Ingredients {
  margin: 5px;
}

.card-container {
  box-sizing: border-box;
  background-color: #ffffff;
  max-width: 1200px;         
  margin: 0 auto;            
  padding: 60px 40px;        
  border-radius: 12px;      
  background-image: url("../img/Dangelions..png");
  background-repeat: no-repeat;
  background-position: 45px top;
  background-size: 790px 697px;   
}
